@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Mono:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family-body);
	color: var(--clr-text);
	font-weight: 400;
	font-size: var(--normal-font-size);
	letter-spacing: var(--letter-spacing-100);
	background-color: var(--clr-bg);
	line-height: 2;
}

:root {
	/* ======= color ======= */
	--clr-text: #21006b;
	/* --clr-text-light: #ccc; */
	--clr-bg: #f8f5ff;
	--clr-foreground: #f8f5ff;
	--clr-accent: #3700b3;
	--clr-title: var(--clr-accent);
	--clr-subtitle: #733ceb;
	--clr-accent-light: #6200ee;
	--clr-wrk-card: var(--clr-accent);
	--clr-wrk-card-font: var(--clr-foreground);
	--clr-technologies: var(--clr-foreground);
	--logo: var(--clr-accent);
	--shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.25);
	--shadow-input: 0px 0px 6px -2px rgba(0, 0, 0, 0.25);
	--letter-spacing-100: 1.2;
	--letter-spacing-200: 1.5px;
	--line-spacing-100: 1.5;

	/* ======= border radius =======*/
	--biggest-font-size: 2.5rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;
	--smallest-font-size: 0.625rem;
	--font-family-body: "Poppins", sans-serif;
	--font-family-title: "Roboto Mono", monospace;

	/* ======= transition =======*/
	--trans: all 300ms ease-in-out;

	/* ======= border radius =======*/
	--raduis: 5px;
}
/* @media (prefers-color-scheme: dark) {
	:root {
		--clr-text: #f5f0ff;
		--clr-title: #a195be;
		--clr-bg: #060014;
		--clr-foreground: #100033;
		--clr-accent: #5c14ff;
		--clr-subtitle: var(--clr-title);
		--clr-accent-light: var(--clr-title);
		--clr-wrk-card: var(--clr-foreground);
		--clr-wrk-card-font: var(--clr-title);
		--shadow: 0px 0px 5px -2px rgba(70, 69, 69, 0.25);
		--shadow-input: 0px 0px 6px -2px rgba(95, 95, 95, 0.25);
	}
} */

[data-theme="dark"] {
	--clr-text: #f5f0ff;
	--clr-title: #a195be;
	--clr-bg: #060014;
	--clr-foreground: #100033;
	--clr-accent: #5c14ff;
	--clr-subtitle: var(--clr-title);
	--clr-accent-light: var(--clr-title);
	--clr-wrk-card: var(--clr-foreground);
	--clr-wrk-card-font: var(--clr-title);
	--shadow: 0px 0px 5px -2px rgba(70, 69, 69, 0.25);
	--shadow-input: 0px 0px 6px -2px rgba(95, 95, 95, 0.25);
}

@media screen and (min-width: 968px) {
	:root {
		--biggest-font-size: 4rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.75rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

i {
	color: var(--clr-text);
}

p {
	text-align: justify;
}

p span {
	color: var(--clr-text);
	font-weight: 500;
}

.container {
	max-width: 75rem;
	margin: 0 auto;
	padding: 0 1.25rem;
	display: grid;
	grid-gap: 3rem;
}

.container--home {
	justify-self: start;
	width: 100%;
	row-gap: 1.5rem;
}

.container--project {
	max-width: 800px;
}

.container--errorPage {
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 960px) {
	.container--about {
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
	.container--contact {
		grid-template-columns: 1fr 1fr;
	}
}

h1,
h2,
h3 {
	margin: 0;
	font-weight: 600;
	font-family: var(--font-family-title);
	color: var(--clr-title);
	text-transform: capitalize;
}

.button {
	padding: 1rem 2rem;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	border-radius: var(--raduis);
	transition: var(--trans);
	background-color: var(--clr-accent);
	color: var(--clr-bg);
	font-weight: 600;
}

.button:disabled {
	opacity: 0.3;
	cursor: not-allowed;
}
.button:disabled:hover {
	opacity: 0.3;
}

.button:hover {
	opacity: 0.7;
}

.lost--button {
	justify-self: center;
}

.lost--button i {
	margin-right: 0.7rem;
	color: var(--clr-bg);
}

.contact--button {
	font-size: var(--h3-font-size);
}

.contact--button i {
	margin-left: 0.7rem;
	color: var(--clr-bg);
}

input,
textarea {
	border: none;
	outline: none;
	font-family: var(--font-family-body);
	font-size: var(--normal-font-size);
	background-color: var(--clr-foreground);
	padding: 1rem;
	box-shadow: var(--shadow-input);
	border-radius: var(--raduis);
	color: var(--clr-text-light);
	width: 100%;
}

button:focus,
input:focus,
textarea:focus {
	outline: none;
}

img {
	max-width: 100%;
}

.card {
	background-color: var(--clr-foreground);
	border-radius: var(--raduis);
	box-shadow: var(--shadow);
}

.sus {
	height: calc(100vh - 40px);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes fade-in {
	from {
		opacity: 0;
		visibility: hidden;
	}

	to {
		opacity: 1;
		visibility: visible;
	}
}
@keyframes fade-out {
	from {
		opacity: 1;
		visibility: visible;
	}

	to {
		opacity: 0;
		visibility: hidden;
	}
}
@keyframes move-down {
	from {
		visibility: hidden;
		transform: translate(-50%, -50px);
		opacity: 0;
	}

	to {
		visibility: visible;
		transform: translate(-50%, 0);
		opacity: 1;
	}
}
@keyframes move-up {
	from {
		visibility: visible;
		transform: translate(-50%, 0);
		opacity: 1;
	}

	to {
		visibility: hidden;
		transform: translate(-50%, -50px);
		opacity: 0;
	}
}
